.sidePanel {
    display: inline-block;
    position: absolute;
    background-color: #404040;
    top: 0;
    left: 0;
    color: white;
    z-index: 5 !important;
    padding-top: 50px;
    font-weight: bold;
    font-size: smaller;
    opacity: 0.8;
    height: 100%;
    overflow: scroll;
    width: 0px;
    padding-left: 8px;
    padding-right: 8px;
}

.sidePanel .closebtn {
    position: absolute;
    top: 0;
    font-size: 36px;
    right: 5px;
    color: black;
}

.slider {
    width: 100%;
}

.mapContainer {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

#menu {
    background: white;
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 10px;
    border-radius: 3px;
    width: 50px;
}

#menu a {
    font-size: 13px;
    color: #404040;
    display: block;
    margin: 0;
    padding: 0;
    padding: 10px;
    text-decoration: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    text-align: center;
}

#menu a:last-child {
    border: none;
}

#menu a.active {
    background-color: #3887be;
    color: #ffffff;
}

#menu a.active:hover {
    background: #3074a4;
}

.footer {
    color: white;
    text-align: right;
    font-weight: bold;
    opacity: 0.8;
}